---
import CommonHead from "../components/CommonHead.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const {
	title,
	description = "Personal blog of Michael Mandic",
	pubDate,
	updatedDate,
	heroImage,
} = Astro.props;
const titleId = title.replace(/\s+/g, "-").toLowerCase();
---

<!doctype html>
<html lang="en">
	<head>
		<CommonHead />
		<title>
			{`${title} - Michael Mandic Blog`}
		</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<div class="max-w-2xl w-full">
			<NavBar />
			<main>
				<article>
					<div>
						{
							heroImage && (
								<Image
									width={1020}
									height={510}
									src={heroImage}
									alt=""
								/>
							)
						}
					</div>
					<div class="mb-2 text-faint">
						<a href="/blog" class="italic hidden-underline"
							>← all posts</a
						>
					</div>
					<div>
						<div>
							<h1>{title}</h1>
							<div class="text-faint my-6">
								<FormattedDate date={pubDate} />
							</div>
							{
								updatedDate && (
									<div class="text-faint my-6">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<slot />
					</div>
				</article>
			</main>
			<Footer />
		</div>
	</body>
</html>
