---
import CommonHead from "../components/CommonHead.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const {
	pageTitle,
	mainHeading = pageTitle,
	metaDescription = "Software engineer based in Belgrade, Serbia.",
	htmlClass = "",
	bodyClass = "",
	...rest
} = Astro.props;
const titleId = mainHeading.replace(/\s+/g, "-").toLowerCase();
---

<!doctype html>
<html
	lang="en"
	class={htmlClass}
	{...rest}
	transition:name="root"
	transition:animate="none"
>
	<head>
		<CommonHead />
		<title>
			{pageTitle ? `${pageTitle} - Michael Mandic` : "Michael Mandic"}
		</title>
		<meta name="description" content={metaDescription} />
		<!-- open graph -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://michaelmandic.com" />
	</head>
	<body class=`${bodyClass}`>
		<div class="max-w-2xl w-full" transition:animate="slide">
			<NavBar />
			<main>
				<h1>{mainHeading}</h1>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
